.overviewContainer {

width: 95vw; height: 95vh; display: flex; flex-direction: column; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: 15;



}
.overviewTop {

  width: 80%; height: 75%; display: flex; flex-direction: row; object-fit: cover;

}

.productOverviewPic {
  width: 70vw; height: auto; display: flex; flex-direction: column; justify-content: flex-start;
}

.overviewProductInfo {
  display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}
.productName { text-align: center;}

.overviewStylesContainer { display: flex; flex-direction: column; justify-content: space-between; }
.styleSelectorArea {

display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;
}





.individualStylePic {
    /* height: 35px;
    width: 40px; */

    /* background-color: #bbb; */
    /* display: inline-block; */


}









.overviewBottom {
  display: flex; justify-content: space-around; align-items: center;
}