.overviewContainer {

width: 95vw; height: 95vh; display: flex; flex-direction: column;



}
.overviewTop {

  width: 80%; height: 75%; display: flex; flex-direction: row;

}

.productOverviewPic {
  width: 75%; height: 95%; display: flex; flex-direction: column; justify-content: space-around; -ms-flex-align: center;
}

.overviewProductInfo {
  display: flex; flex-direction: column;
}

.overviewBottom {
  display: flex; justify-content: space-around; align-items: center;

}