.qaMainContainer {
  display: inline-flex;
  flex-direction: column;
  border: solid;
  border-color: red;
  justify-content: center;
  height: auto;
}

.qaSearchStyle {
  width: 700px;
  height: 25px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  display: flex;
  padding: 10px;
}
.qaSearchContainer {
  display: flex;
  border: solid;
  border-color: white;
  padding: 10px;
  margin: 10px;
  width: auto;
}

.qaList {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.qaListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-color: white;
  padding: 10px;
  margin: 10px;
  flex-basis: 500px;
  overflow-y: auto;
}
.qaButtonContainer {
  display: flex;
  justify-content: flex-start;
  border: solid;
  border-color: white;
  margin: 10px;
}

.buttonStyle {
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: 3rem;
  padding: 25px;
  position: relative;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
}
